---
profile: true
---
{% if site.greeting %}
  {% include greeting.html %}
{% endif %}

<div class="section">
  {% markdown about.md %}
</div>

{% if site.experience %}
  {% include experience.html %}
{% endif %}
{% include skills.html %}
{% if site.certifications %}
  {% include certifications.html %}
{% endif %}
{% if site.gallery %}
  {% include gallery.html %}
{% endif %}
{% if site.books %}
  {% include books.html %}
{% endif %}

{% if site.contact %}
  {% include contact.html %}
{% endif %}

{% include post-list.html %}
{% include footer.html %}
