<div id="gallery" class="section">
  <h3>Gallery</h3>
  <div class="gallery">
    <ul class="categories">
      <li class="active">All</li>
      {% for item in site.gallery %}
        <li>{{ item.category }}</li>
      {% endfor %}
    </ul>
    {% for item in site.gallery %}
      <div id="{{ item.category }}" class="category-container">
        <h4 class="category">{{ item.category }}</h4>
        <hr>
        <div class="row">
          {% for img in item.images %}
            {% include image.html img=img %}
          {% endfor %}
        </div> <!-- /.row -->
      </div> <!-- /.category-container -->
    {% endfor %}
  </div>
</div>

<script>
 {% include gallery.js %}
</script>
