<div id="gallery" class="section">
  <h3>Gallery</h3>
  <div class="gallery">
    <div class="row">
      {% for img in site.gallery %}
        <figure class="">
          <span class="img-wrapper">
            <img src="{{ img.thumb }}" srcset="{{ img.src }} 500w" alt="{{ img.name }}">
          </span>
          <div class="info">
            <div class="wrapper">
              <div class="title">{{ img.name }}</div>
              <div class="description">
                {{ img.description }}
              </div>
            </div>
          </div>
        </figure>
      {% endfor %}
    </div>
  </div>
</div>

<script>
$container = $('.gallery .row');
$container.imagesLoaded(function () {
  $container.masonry({
    itemSelector: 'figure'
  });
});

$container.find('figure').on('click', function () {
  $(this).toggleClass('open');
});
</script>
