<div class="profile">
    <section id="wrapper">
      <div class="row">
        <div class="col-md-4 flex-valign">
          <div id="author-wrap" class="reveal">
            <h1 id="author">{{ site.author }}</h1>
            <h2 id="description">
              <span class="typed">{{ site.description }}</span>
            </h2>
            <div class="short-border" style="width: 30%;"></div>
          </div>
        </div>
        <header class="col-md-4" id="header">
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
            {% include profiles.html %}
        </header>
        <div id="long-description" class="col-md-4 flex-valign">
          {% include description.html %}
        </div>
        <div class="header-background"></div>
      </div>
    </section>
</div>
