<div class="section">
  <h3>Skills</h3>
  <div class="skills">
    <div class="progress reveal">
      {% for skill in site.skills %}
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ skill.weigth }}"
          aria-valuemin="0" aria-valuemax="100"
          style="width: {{ skill.weight }}%; background-image: linear-gradient(to bottom,{{ skill.color }} 0,{{ skill.color }} 100%)"
          data-toggle="tooltip" data-placement="top" title="{{ skill.name }}">
            <span class="sr-only">{{ skill.weight }}%</span>
          </div>
      {% endfor %}
    </div>
      <div class="row">
      {% for skill in site.skills %}
          <span class="skill">
            <span class="swatch" style="background-color: {{ skill.color }};"></span><span class="skill-name">{{ skill.name }}</span>
          </span>
      {% endfor %}
      </div>

      {% for skill in site.skills %}
  			{% if skill.breakdown %}
  				<h3 class="reveal">{{ skill.name }}</h3>
  				<div class="progress reveal">
            {% for subskill in skill.breakdown %}
  				    <div class="progress-bar" role="progressbar" aria-valuenow="{{ subskill.weigth }}" aria-valuemin="0" aria-valuemax="100"
              style="width: {{ subskill.weight }}%;background-image: linear-gradient(to bottom,{{ subskill.color }} 0,{{ subskill.color }} 100%)"
              data-toggle="tooltip" data-placement="top" title="{{ subskill.name }}">
                <span class="sr-only">{{ subskill.weight }}%</span>
              </div>
            {% endfor %}
  				</div>
          <div class="row reveal">
          {% for subskill in skill.breakdown %}
              <span class="skill">
                <span class="swatch" style="background-color: {{ subskill.color }};"></span>
                <span class="skill-name">{{ subskill.name }}</span>
              </span>
          {% endfor %}
          </div>
  			{% endif %}
      {% endfor %}
  </div>
</div>
{% if site.languages %}
<div id="languages" class="section">
  <h4>I also speak all these languages</h4>
  <div class="row">
    {% for lang in site.languages %}
    <img class="emblem greyscale reveal" src="assets/images/{{ lang.icon }}" alt="{{ lang.name }}"
         data-toggle="tooltip" data-placement="top" title="{{ lang.name }}" data-container="body">
    {% endfor %}
  </div>
  {% if site.technologies %}
    <h4>And know about these technologies</h4>
    <div class="row">
      {% for tech in site.technologies %}
      <img class="emblem greyscale reveal" src="assets/images/{{ tech.icon }}" alt="{{ tech.name }}"
           data-toggle="tooltip" data-placement="top" title="{{ tech.name }}" data-container="body">
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endif %}
