---
---

@import 'colors';
@import 'profile';
@import 'sections';
@import 'skills';
@import 'certifications';
@import 'books';

body, html {
  max-width: 1200px;
  margin: 0 auto;
}

.greyscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: filter 300ms, -webkit-filter 300ms, opacity 300ms;
  opacity: .7;

  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
  }
}

.short-border {
  height: 4px;
  background-color: $accent;
  opacity: 0.8;
  margin-left: 5px;
  margin-top: 20px;
}

.flex-valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.darken {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33,33,33,0.8);
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
