---
---

@import 'colors';
@import 'profile';
@import 'sections';
@import 'skills';

body, html {
  max-width: 1200px;
  margin: 0 auto;
}

.short-border {
  height: 4px;
  background-color: $accent;
  opacity: 0.8;
  margin-left: 5px;
  margin-top: 20px;
}

.flex-valign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.darken {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33,33,33,0.8);
}
