.books {
  figure.book {
    width: 26.5%;
    position: relative;
    display: inline-block;
    margin: 0 3% 25px 3%;

    &:hover {
      .read {
        height: 10px;
      }
    }

    img {
      height: 100%;
    }

    .read {
      height: 5px;
      background-color: $accent;
      position: absolute;
      bottom: 0;
      transition: 300ms height;
    }
  }
}