
$lightBrown: #ECE5DA;
$brown: #9A9182;
$redBrown: #664C4B;
$darkPurple: #44344F;
$bordeaux: #AD234B;
$grey: #696767;

$accent: $bordeaux;
$accentDark: $bordeaux;
$accentAlt: $darkPurple;
$muted: $lightBrown;
$mutedDark: $brown;
$mutedText: $grey;
