$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$break-tablet-portrait: 1024px;
$break-tablet-landscape: 768px;
$break-phone-portrait: 480px;
$break-phone-landscape: 768px;

$break-phone: $break-phone-landscape;
$break-tablet: $break-tablet-landscape;