@import 'colors';


.profile {
		position: relative;
    color: $mutedText;

    .public-profiles {
      margin: 20px 0;

      a.profile-link {
        margin: 0 5px;
        color: $mutedText;
        font-size: 24px;
        transition: color 300ms;

        &:hover {
          color: $accent;
        }
      }
    }

    .main-link {
      font-size: 16px;
      color: #AD234B;
      border: 2px solid #AD234B;
      background-color: transparent;
      padding: 10px 25px;
      letter-spacing: 2px;
    }

    .main-link:hover {
      background-color: $accent;
      color: white;
    }

    #author-wrap {
      padding: 0 0 40px 0;
      margin-left: 20%;

      #author {
        font-size: 55px;
      }
    }

    #wrapper {
    	padding: 10px 40px 0px;
    	max-width: 100%;

      .row {
        height: 500px;
      }
    }

    #header {
    	padding: 140px 0;
    	text-align: center;
      height: 100%;
    }

    .header-background {
      background-color: $muted;
      margin: 0 0 0 20%;
      height: 100%;
      width: auto;
    }

    #long-description {
      padding: 5%;
      text-align: justify;
      font-family: 'Roboto';
    }

    #avatar {
    	display: inline-block;
    	width: 220px;
    	height: 220px;
    	border-radius: 50%;
      box-shadow: 0 0 50px rgba(33,33,33,0.05);
    }

    h1 {
      font-family: 'Roboto';
      font-size: 70px;
      color: $accentAlt;
    }

    h2 {
    	font-size: 20px;
    	font-weight: 300;
    	margin-top: 10px;
    	font-family: 'Roboto', Helvetica, Arial, sans-serif;
    	font-style: normal;
    }
}

@media all
and (max-width : 990px) {

  .profile {

    .short-border {
      margin-left: auto;
      margin-right: auto;
    }

    #wrapper {
      margin: 20px;
      padding-bottom: 20px;
      background-color: $muted;

      .row {
        height: auto;
      }
    }

    #author-wrap {
      position: inherit;
      max-width: 100%;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    #header {
      right: 0;
      padding: 40px 0 0 0;
    }

    .header-background {
      display: none;
    }

    #long-description {
      padding: 5% 20%;
    }
  }
}
