.skills {
  text-align: center;

  .progress {
     height: 40px;
     transition: height 300ms;
   }

  .skill {
    margin: 0 5px;

    .swatch {
      height: 20px;
      width: 20px;
      display: inline-table;
      border-radius: 20px;
    }

    .skill-name {
      padding: 5px;
      bottom: 5px;
      position: relative;
    }
  }
}

#languages {
  img.emblem {
    width: 45px;
    height: 45px;
    margin: 10px;
  }
}

#languages, .skills {
  h3, h4 {
    font-weight: 500;
    font-family: 'Scope One';
    color: #6f6f6f;
  }
}

@media (max-width: 768px) {
  .skill {
    width: 100%;
    display: block;
    text-align: left;
    padding: 2px 0 2px 35%;
  }
}
